<!DOCTYPE html>
<html lang="en" class="scroll-auto">
  <head>
    <title>{{ .Title }}</title>

    {{ range .Links -}}
    <link rel="{{ .Rel }}" href="{{ .Href }}" />
    {{ end -}}

    <style>
      html,
      body {
        height: 100%;
      }

      x-tabbed-view:not(:defined) {
        display: none;
      }
    </style>

    {{ range .Scripts -}}
    <script src="{{ . }}"></script>
    {{ end -}}
    <script type="module" src="/s/x-tabbed-view.js"></script>

    <script type="module" src="/s/x-code-editor.js"></script>
    <script type="module" src="/s/x-collapsible.js"></script>
    <script type="module" src="/s/x-tab-switcher.js"></script>
    <script type="module" src="/s/x-template-switch.js"></script>

    <!-- FullStory Snippet -->
    {{ template "fs" . }}
  </head>

  <body class="flex h-full flex-col bg-black text-white antialiased">
    <div class="mx-3 my-3 h-full">
      <div
        id="app"
        class="flex h-full w-full flex-col rounded-md border border-raisin-border bg-raisin"
      >
        {{ outlet }}
      </div>
    </div>
  </body>
</html>
