<!-- prettier-ignore -->
{{- /*gotype:github.com/tylermmorton/torque/.www/docsite/templates.contextMenu*/ -}}
<input
  class="text-nowrap flex w-full items-center gap-2 bg-raisin-light px-3 py-3 hover:bg-raisin-hover focus:bg-raisin-hover focus:outline-none focus:ring-1 focus:ring-raisin focus:ring-offset-1"
  href="#"
  type="text"
  value="{{.SearchQuery}}"
/>

<ol id="hx-swappable-search-results" class="flex flex-col gap-2">
  {{ range .SearchResults }}
  <li>{{ .Title}}</li>
  {{ end }}
</ol>

<div id="hx-swappable-symbol-view" class="py-5"></div>
