<html lang="en">
  <head>
    <title>{{ .Document.Frontmatter.Title }} | torque</title>
    <link rel="stylesheet" href="/s/app.css" />

    {{/* {{ template "htmx" . }}*/}} {{/* {{ template "fullstory" . }}*/}}
  </head>

  <body class="h-full antialiased">
    <div class="h-12 p-8 sticky top-0 z-40 w-full backdrop-blur flex-none">Navigator bar</div>
    <div class="flex flex-row h-full justify-center ">
      <div class="bg-gray-200 md:w-1/4 lg:w-1/6  ">
        Navigator content. This is magic
      </div>
      <article class="prose overflow-y-scroll p-8">
          <div class="font-bold">
            {{ .Document.Frontmatter.Title }}
          </div>

        {{ .Document.Content }}
      </article>
      <div class="bg-gray-200  md:w-1/4 lg:w-1/6  p-8">
        {{ range $heading := .Document.Headings }}
          {{ $heading.Text }}<br />
        {{ end }}
      </div>
    </div>
  </body>
</html>
