@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #13121c;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #3b3b54;
    border: 1px transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #44445f;
    cursor: grab;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover:active {
    background: #44445f;
    cursor: grabbing;
  }

  code {
    font-family: Fira Code, monospace;
    font-style: normal;
    letter-spacing: 0.5px;
    background-color: #44445f;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    cursor: pointer;
  }

  code::before,
  code::after {
    display: none;
  }
}
