@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
